<header class="header opaque">
    <div id="navBox" class="header-nav menu" data-type="index">
        <div class="container nav-content">
            <div class="logobox">
                <h1 class="logo krs-logo">
                    <a href="{:addon_url('ldcms/index/index')}" title="克睿斯 AI FDE">
                        <span class="krs-logo-mark">KRS</span>
                        <span class="krs-logo-text">克睿斯 AI</span>
                    </a>
                </h1>
            </div>
            <div class="lang">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-language"></i> {$ld.langs[$ld.lg]}
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu" style="width: 90px;min-width: 90px">
                    {foreach $ld.langsurl as $key=>$item}
                    <li {if $ld.lg==$key} class="active" {/if}>
                        <a href="{$item.url}">{$item.title}</a>
                    </li>
                    {/foreach}
                </ul>
            </div>
            <div class="sbtn"><i class="fa fa-search"></i></div>
            <ul class="navbar">
                <li {if $topid===0}class="active" {/if}><a href="{:addon_url('ldcms/index/index')}">首页</a></li>
                <li><a href="/chanpinzhongxin.html">产品</a></li>
                <li><a href="/anlizhanshi.html">解决方案</a></li>
                <li><a href="/zaixianliuyan.html">会员与定价</a></li>
                <li><a href="/fuwutuandui.html">企业中心</a></li>
                <li><a href="/xinwenzhongxin.html">报告案例</a></li>
                <li><a href="/lianxiwomen.html">客户支持</a></li>
                <li><a href="/fuwutuandui.html#ecosystem">合作生态</a></li>
                <li><a href="/guanyuwomen.html">了解克睿斯</a></li>
            </ul>
        </div>
    </div>
    <div class="searchBox">
        <div class="search-pup">
            <form method="get" name="searchform" class="dropdown search-form" action="{:addon_url('ldcms/search/index')}">
                <input class="search-input" name="search" style="color: #333" placeholder="搜索 FDE、会员、营销、转型" type="text">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="moble">
        <a class="moble-bars" id="btn-bars"><i class="fa fa-bars nav-btn"></i></a>
        <div class="mlang">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-language"></i>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" style="width: 90px;min-width: 90px">
                {foreach $ld.langs as $key=>$lang}
                <li {if ld_get_home_lang()==$key} class="active" {/if}>
                    <a href="{:addon_url('ldcms/index/index',['lg'=>$key])}">{$lang}</a>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
</header>
